* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
  }

  body {
    margin: 0;
    padding: 0;
    text-align: center;
    background-image: url("/assets/earth-background-two.jpeg");
    background-position: center;
    background-size: cover;
    background-repeat: round;
    height: 100vh;
  }
  
  h1 {
    display: flex;
    justify-content: center;
    font-size: 2rem;
    margin: .5em;
    color: white;
  }
  
  .container {
    margin: 0 auto;
    max-width: 50%;
    border: 1px black solid;
  }
  
  .news-list {
    padding: 1.5em;
    max-width: 100%;
    background-color: rgba(255, 255, 255, 0.8)
  }

  p, li {
    display: flex;
    justify-content: center;
  }

  li {
    text-decoration: none;
  }